  .blogs-cards-container {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      gap: 2rem;
      z-index: 0;
  }

  .blogs-card {
      background-color: transparent;
      width: 350px;
      border-radius: 10px;
      box-shadow: 1px 1px 4px #f8f8ff;
  }

  .blogs-card-img img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }

  .blogs-card-body {
      padding: 5px 10px;
  }

  .blogs-card-body h2 {
      font-size: 24px;
  }

  .blogs-card-body p {
      font-size: 16px;
  }

  .blogs-card-body {
      text-align: justify;
  }


  @media only screen and (max-width:1200px) {
      .blogs-cards-container {
          grid-template-columns: repeat(2, 1fr);
          padding: 0;
      }
  }

  @media only screen and (max-width:767px) {
      .blogs-cards-container {
          grid-template-columns: repeat(1, 1fr);
      }

      .blogs-card {
          width: 340px;
      }

      .blogs-card-body h2 {
          font-size: 24px;
      }

  }

  @media only screen and (max-width:400px) {
      .blogs-card {
          width: 95%;
      }

      .blogs-card-body h2 {
          font-size: 22px;
      }

      .blogs-card-body p {
          font-size: 15px;
      }

  }