.blog-container{ 
    text-align: justify;
    padding-left: 5rem!important;
    padding-right: 5rem!important;
}

.blog-container h1,p{ 
    color: #dfdfe8;
}

.blog-container img{ 
    display: block;
    width: 70%;
    margin: auto;
    height: 400px;
}

.blog-content{
    padding-left: 8rem!important;
    padding-right: 8rem!important;
}

.blog-content h1, h2, h3, h4, h5, h6{
    color: #eef8ff;
    text-align: left!important;
    font-family: 'Baloo 2', cursive;
}

.blog-content p,li{
    color: #aebdca;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}

.blog-content img{
    height: 100%!important;
    width: 70%;
}

@media only screen and (max-width:1000px){
    .blog-container{ 
        text-align: justify;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    
    .blog-container img{ 
        width: 80%;
    }
    
    .blog-content{
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
    
    .blog-content img{
        width: 100%;
    }
}

@media only screen and (max-width:770px){
    .blog-container{ 
        padding-left: 0.8rem!important;
        padding-right: 0.8rem!important;
    }
    
    .blog-container img{ 
        width: 90%;
        height: 250px;
    }

    .blog-content{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    
    .blog-content img{
        width: 100%;
    }
}

@media only screen and (max-width:450px){
    .blog-container img{ 
        width: 100%;
        height: 100%;
    }
    
    .blog-content{
        padding-left: 0.1rem!important;
        padding-right: 0.1rem!important;
        
    }

    .blog-content p,li{
        font-size: 16px;
    }

    .blog-content ul, ol{
        padding-left: 1.2rem!important;
    }
    
}
