.section{
    padding-top: calc(var(--mantine-spacing-xl) * 1);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    min-height: 100vh;
}
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    line-height: 1.2;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: var(--mantine-spacing-lg);
  }
  
  .description {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: var(--mantine-font-size-lg);
  }
  
  .form {
    background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
    padding: var(--mantine-spacing-xl);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-lg);
  }
  
  .social {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  
  .input {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-black);
  
    &::placeholder {
      color: var(--mantine-color-gray-5);
    }
  }
  
  .inputLabel {
    color: var(--mantine-color-black);
  }
  
  .control {
    background-color: var(--mantine-color-blue-6);
  }