.workHeadingHome, .workHeading {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workHeading {
    margin: 2rem;
}

.workContainer, .work {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.work {
    padding: 10px 0 50px 0;
    align-items: flex-start;
}

@media only screen and (max-width: 500px) {
    .workHeading {
        margin-bottom: 2.5rem;
    }

}