.workHeadingHome, .workHeading {
    text-align: center;
    margin-bottom: 3rem;
}

.workHeading {
    margin: 2rem;
}

.workContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
    .workHeading {
        margin-bottom: 2.5rem;
    }

}