.aboutHeading {
    text-align: center;
    padding: 20px 0;
}

.aboutHeading span {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.highlight {
    color: red;
    text-transform: capitalize;
    font-weight: 500;
}

.heading {
    text-align: center;
    font-weight: 500 !important;
    font-size: 2.2rem !important;
    color: var(--textColor_secondary);
}


.personalDetailsItem {
    font-size: 28px !important;
    margin-bottom: 15px;
}

@media only screen and (max-width:500px) {
    .aboutHeading {
        padding: 0;

    }

    .personalDetailsItem {
        font-size: 20px !important;
        margin-bottom: 10px;

    }
}