.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  & .content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 2);

    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
    }
  }

  & .title {
    font-size: 2.5rem;
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 2rem;
    }
  }

  & .subtitle {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    background-color: var(--mantine-color-blue-light);
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(4px);
    @media (max-width: $mantine-breakpoint-sm) {
      justify-content: center;
    }
  }

  & .wordAnimation {
    line-height: 1.2;
    font-size: 3.2rem;
    min-width: 350px;
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 2rem;
      min-width: auto;
    }
  }

  & .image {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 10% 15%;
    max-height: 340px;
    @media (max-width: $mantine-breakpoint-md) {
      margin-bottom: max(var(--mantine-spacing-lg));
      max-width: 275px;
      max-height: 300px;
    }
  }

  & .btns {
    @media (max-width: $mantine-breakpoint-sm) {
      justify-content: center;
    }
  }

  & .readMoreBtn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 8px;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    cursor: pointer;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-transform: uppercase;
    font-weight: 700;

    & .containerStars {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: 0.5s;
      backdrop-filter: blur(1rem);
      border-radius: 8px;
      background-color: #212121;

      & .stars {
        position: relative;
        background: transparent;
        width: 200rem;
        height: 200rem;

        &::after {
          content: "";
          position: absolute;
          top: -10rem;
          left: -100rem;
          width: 100%;
          height: 100%;
          animation: animStarRotate 90s linear infinite;
          background-image: radial-gradient(#ffffff 1px, transparent 1%);
          background-size: 50px 50px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -50%;
          width: 170%;
          height: 500%;
          animation: animStar 60s linear infinite;
          background-image: radial-gradient(#ffffff 1px, transparent 1%);
          background-size: 50px 50px;
          opacity: 0.5;
        }
      }
    }

    & strong {
      z-index: 2;
      font-size: 16px;
      letter-spacing: 5px;
      color: #ffffff;
      text-shadow: 0 0 4px white;
    }

    & .glow {
      position: absolute;
      display: flex;
      width: 12rem;
    }

    & .circle {
      width: 100%;
      height: 30px;
      filter: blur(2rem);
      animation: pulse_3011 4s infinite;
      z-index: -1;

      &:nth-of-type(1) {
        background: rgba(254, 83, 186, 0.636);
      }

      &:nth-of-type(2) {
        background: rgba(142, 81, 234, 0.704);
      }
    }

    &:hover {
      transform: scale(1.05);

      & .containerStars {
        z-index: 1;
        background-color: transparent;
      }
    }

    &:active {
      border: double 4px #fe53bb;
      background-origin: border-box;
      background-clip: content-box, border-box;
      animation: none;

      & .circle {
        background: #fe53bb;
      }
    }

    @keyframes animStar {
      from {
        transform: translateY(0);
      }

      to {
        transform: translateY(-135rem);
      }
    }

    @keyframes animStarRotate {
      from {
        transform: rotate(360deg);
      }

      to {
        transform: rotate(0);
      }
    }

    @keyframes gradient_301 {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    @keyframes pulse_3011 {
      0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }

      100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  }

  & .resumeBtn {
    position: relative;
    width: 13rem;
    height: 3rem;
    transition: 0.5s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px rgb(0, 0, 0);

    & .icon {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);
      border-color: #fff9;
    }

    &:hover .icon {
      transform: translate(4px);
    }

    &:hover::before {
      animation: shine 1.5s ease-out infinite;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
      );
      top: 0;
      left: -100px;
      opacity: 0.6;
    }

    @keyframes shine {
      0% {
        left: -100px;
      }

      60% {
        left: 100%;
      }

      to {
        left: 100%;
      }
    }
  }
}

.modal {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
  }

  & .content {
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
    }
  }

  & .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(28px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(22px);
    }
  }

  & .image {
    width: 100%;
    max-width: rem(360px);
    margin-right: calc(var(--mantine-spacing-xl) * 1);
    border-radius: 5px;

    @media (max-width: $mantine-breakpoint-md) {
      margin-bottom: max(var(--mantine-spacing-lg));
      max-width: 100%;
      margin-right: 0;
    }
  }
}
