.progress-bar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: 0% 0% / auto auto
    linear-gradient(126deg, #ff8800 24%, #ff0000 100%);
  transform-origin: 0%;
  z-index: 999;
  border-radius: 10px;
}

.scrollToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  & button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(126deg, #ff8800 24%, #ff0000 100%);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;

    & .svgIcon {
      width: 12px;
      transition-duration: 0.3s;

      & path {
        fill: #fff;
      }
    }

    &:hover {
      width: 140px;
      border-radius: 8px;
      transition-duration: 0.3s;
      align-items: center;

      & .svgIcon {
        transition-duration: 0.3s;
        transform: translateY(-200%);
      }

      &::before {
        font-size: 13px;
        opacity: 1;
        bottom: unset;
        transition-duration: 0.3s;
      }
    }

    &::before {
      position: absolute;
      bottom: -20px;
      content: "Back to Top";
      color: white;
      font-size: 0px;
    }
  }
}
