.progress-bar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: 0% 0% / auto auto
    linear-gradient(126deg, #ff8800 24%, #ff0000 100%);
  transform-origin: 0%;
  z-index: 999;
  border-radius: 10px;
}

.scrollToTop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(126deg, #ff8800 24%, #ff0000 100%);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
