.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  transition: all 500ms ease;
  padding: var(--mantine-spacing-sm);
  gap: 5px;
  width: 100%;
  min-height: 115px;

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }
}
