.about-info-left, .about-info-right {
  flex: 1;
}

.about-info-left span {
  color: #f8f8ff;
  letter-spacing: 2px;
  margin-left: 5px;

}


.about-info-right p {
  color: #f8f8ff;
  letter-spacing: 2px;
  text-align: justify;
}


.skills-container .skills-img-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.skills-container .skills-img-box .box {
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 1px 5px #ffffffb3;
  border-radius: .5rem;
  background: #1a1a1a;
}

.skills-container .skills-img-box .box:hover {
  background: #f8f8f8;
}

.skills-container .skills-img-box .box:hover h4 {
  color: #000;
}

.skills-container .skills-img-box .box img {
  height: 6rem;
  margin-bottom: 1rem;
}

.skills-container .skills-img-box .box h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.box {
  opacity: 0;
}

@media only screen and (max-width:1000px) {
  .about-info {
    flex-direction: column;
  }

  .skills-container .skills-img-box {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1.7rem;
  }

  .skills-container .skills-img-box .box img {
    height: 5rem;
    width: 5rem;
  }

  .box {
    padding: 1rem !important;
    height: 150px;
  }

  .skills-container .skills-img-box .box h4 {
    font-size: 1.2rem;
  }
}



@media only screen and (max-width:500px) {
  .about-info span {
    letter-spacing: 1px;
  }

  .about-info {
    padding: 0 8px !important;
  }

}