.section {
    height: calc(100vh - 20px);
}

.homeTopImage {
    width: 400px;
    height: 500px;
}

.homeTopImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15% 30% 15% 30%;
    box-shadow: var(--shadow_primary) .95px 2.95px 2.8px;
}

.homeTopcontent p:first-child {
    animation-delay: 50ms;
}

.homeTopcontent p:nth-child(2) {
    animation-delay: 200ms;
}

.homeTopcontent p:nth-child(3) {
    animation-delay: 500ms;
}

.homeTopcontent button {
    animation-delay: 800ms;
    font-weight: bold;
}

.typingEffect {
    font-weight: 500;
    color: red;
}

.aboutSection, .skillsSection, .workSection {
    height: 100vh;
    background: var(--background_secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillsSection {
    background: var(--background_primary);
}

@media only screen and (max-width:900px) {
    .aboutSection, .skillsSection, .workSection {
        height: auto;
        justify-content: flex-start;
        padding: 50px 0
    }

    .section {
        height: auto;
        padding: 50px 0;
    }

    .homeTopGrid {
        display: flex;
        justify-content: center;
    }

    .homeTopcontent {
        text-align: center;
        padding-bottom: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .section {
        padding: 0;
        height: calc(100vh - 80px);
    }

    .homeTopImage {
        width: 300px;
        height: 300px;
    }

    .homeTopcontent {
        text-align: center;
        padding-bottom: 10px;
        margin-top: -40px;
    }

    .homeTopcontent p {
        padding: 0 !important;
    }

    .homeTopcontent button {
        margin-bottom: 20px;
        margin-left: 0;
    }

}

@media only screen and (max-width:500px) {
    .section {
        height: calc(100vh - 100px);
    }

    .skillsSection{
        padding: 30px 0;
    }

    .homeTopImage {
        width: 250px;
        height: 280px;
    }
}