.section {
    height: calc(100vh - 20px);
}

.homeTopImage {
    width: 460px;
    height: 460px;
    background: var(--background_secondary);
    border-radius: 50%;
    box-shadow: inset 0 0 10px var(--shadow_primary);
}

.homeTopImage img {
       border-radius: 50%;
    height: 95%;
    left: 12px;
    object-fit: cover;
    position: relative;
    top: 11px;
    width: 95%;
}

.homeTopcontent p:first-child {
    animation-delay: 50ms;
}

.homeTopcontent p:nth-child(2) {
    animation-delay: 200ms;
}

.homeTopcontent p:nth-child(3) {
    animation-delay: 500ms;
}

.homeTopcontent button {
    animation-delay: 800ms;
    font-weight: bold;
}

.typingEffect {
    font-weight: 500;
    color: red;
}

.aboutSection, .skillsSection, .workSection, .blogsSection {
    height: 105vh;
    background: var(--background_secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillsSection, .blogsSection {
    background: var(--background_primary);
}

@media only screen and (max-width:1150px) {
    .workSection, .blogsSection {
        height: auto;
        justify-content: flex-start;
        padding: 50px 0
    }
}

@media only screen and (max-width:900px) {
    .aboutSection {
        height: auto;
        justify-content: flex-start;
        padding: 50px 0
    }

    .section {
        height: auto;
        padding: 50px 0;
    }

    .homeTopGrid {
        display: flex;
        justify-content: center;
    }

    .homeTopcontent {
        text-align: center;
        padding-bottom: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .section {
        padding: 0;
        height: calc(100vh - 80px);
    }

    .homeTopImage {
        width: 350px;
        height: 350px;
    }

    .homeTopImage img {
            height: 95%;
    left: 9px;
    top: 8px;
    }

    .homeTopcontent {
        text-align: center;
        padding-bottom: 10px;
        margin-top: -40px;
    }

    .homeTopcontent p {
        padding: 0 !important;
    }

    .homeTopcontent button {
        margin-bottom: 20px;
        margin-left: 0;
    }

}

@media only screen and (max-width:500px) {
    .section {
        height: calc(100vh - 100px);
    }

    .skillsSection {
        padding: 20px 0;
    }

    .homeTopImage {
        width: 300px;
        height: 300px;
    }

    .homeTopImage img {
        left: 8px;
    width: 95%;
    height: 95%;
    top: 7px;
    }
}
