.blogsHeadingHome, .blogsHeading {
    text-align: center;
    margin-bottom: 3rem;
}

.blogsHeading {
    margin: 2rem;
}

.blogsHeading span, .blogsHeadingHome span {
    color : red;
}

.blogsContainer, .blogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap : 3rem;
}

.blogs {
    padding: 10px 0 100px 0;
    align-items: flex-start;
}

@media only screen and (max-width: 500px) {
    .blogsHeading {
        margin-bottom: 2.5rem;
    }

}