.blogsHeadingHome, .blogsHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.blogsHeading {
    margin: 2rem;
}

.blogsHeading span, .blogsHeadingHome span {
    color : red;
}

.blogsContainer, .blogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap : 3rem;
}

.blogs {
    padding: 10px 0 100px 0;
    align-items: flex-start;
}

.blogPage {
    text-align: justify;
    padding: 2rem 1rem;
}

.blogPage img {
    display: block;
    width: 70%;
    margin: auto;
    height: 400px;
}

.blogPageContent {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}

.blogPageContent h1, h2, h3 {
    text-align: left !important;
}

.blogPageContent p, li {
    font-size: 18px;
}

.blogPageContent img {
    height: 100% !important;
    width: 100%;
}

.blogPageContent * {
    margin: 1rem 0;
}

@media only screen and (max-width:1000px) {
    .blogPage {
        text-align: justify;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .blogPage img {
        width: 80%;
    }

    .blogPageContent {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    .blogPageContent img {
        width: 100%;
    }
}

@media only screen and (max-width:770px) {
    .blogPage {
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }

    .blogPage img {
        width: 90%;
        height: 250px;
    }

    .blogPageContent {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .blogPageContent img {
        width: 100%;
    }
}

@media only screen and (max-width:450px) {
    .blogsHeading {
        margin-bottom: 2.5rem;
    }

    .blogPage img {
        width: 100%;
        height: 100%;
    }

    .blogPageContent {
        padding-left: 0!important;
        padding-right: 0!important;

    }

    .blogPageContent p, li {
        font-size: 16px;
    }

    .blogPageContent ul, ol {
        padding-left: 1.2rem !important;
    }

}