
.contact-container-right form input {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Baloo 2', cursive;
}

.contact-container-right form textarea {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Baloo 2', cursive;
    resize: none;
}

.contact-container-right .form-label{
    font-weight: 400;
    font-family: 'Baloo 2', cursive;
}

.social-icons svg:hover{
   transform:scale(1.195);
   transition: 0.3s;
}

@media only screen and (max-width:1000px) {
    .contact-container {
        flex-direction: column;
    }
}

@media only screen and (max-width:500px) {

    .social-icons {
        margin: 0 !important;
    }

    .contact-container {
        flex-direction: column;
        padding: 5px !important;
    }

    .contact-container-left{
        margin: 4px 0!important;
    }

    .contact-container-left h2{
        margin: 4px 0!important;
    }

    .contact-container-right h2{
        margin: 4px 0!important;
    }

    .contact-container-right form input {
        font-size: 16px;
        font-weight: 500;
    }

    .contact-container-right form textarea {
        font-size: 16px;
        font-weight: 500;
        resize: none;
    }

    .contact-container-right form label {
        font-size: 14px;
    }

    .contact-container-right .col{
        flex: auto!important;
        margin:0!important;
    }

    .contact-container-right .row{
        margin-bottom: 0;
    }

    .contact-container-right .form-label{
        margin-bottom: 0;
    }

    .contact-container-right .form-control{
        margin: 4px 0;
    }

}