.footer {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: calc(var(--mantine-spacing-lg) * 1) 0;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    & h6{
      margin-top: var(--mantine-spacing-xs);
      margin-bottom: var(--mantine-spacing-md);
    }
    flex-direction: column;
  }
}

.logo {
  text-decoration: none;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}
