footer {
    background-color: var(--background_secondary);
    color: var(--textColor_secondary);
    padding: 40px 20px;
    text-align: center;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 50px
}

.socialMedia a:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.socialMedia a svg {
    font-size: 40px;
}

.socialMedia a:first-child svg {
    fill: #0000ff
}

.socialMedia a:nth-child(2) svg {
    fill: var(--textColor_secondary)
}

.socialMedia a:last-child svg {
    fill: #00aefff1;
}

.footerText {
    font-weight: 500;
}