.blogCard {
    display: block;
    width: 345px;
    border-radius: 40px !important;
    transition: all 0.3s ease !important;
    text-decoration: none;
}

.blogCard:hover {
    box-shadow: 0 0 5px var(--shadow_primary);
}

.blogCard img {
    height: 200px;
}

.blogCard h5 {
    font-weight: 500;
}

.blogCard p {
    font-size: 15px;
    color: var(--text_secondary);
}

@media only screen and (max-width:500px) {
    .blogCard {
        display: block;
        width: 320px;
        border-radius: 40px !important;
        transition: all 0.3s ease !important;
        text-decoration: none;
    }

    .blogCard img {
        height: 180px;
    }
}