.wrapper {
    display: flex;
    align-items: center;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  
  .icon {
    margin-right: var(--mantine-spacing-md);
    background-color: transparent;
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  
  .description {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }