.submitBtn {
  font-size: 20px;
  background: royalblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 700;
  height: 3rem;
  padding: 12px;
  gap: 5px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;

  & span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  & svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  &:hover .svgWrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  &:hover svg {
    transform: translateX(2em) rotate(45deg) scale(1.1);
  }

  &:hover span {
    transform: translateX(100rem);
  }

  &:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }
}
